.account-container {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);

}

.form-container {
    padding: 0 20px;
    margin-top: 20px;
    padding-bottom: 20px;

}
