.expand {
    position: relative;
    z-index: 3;
    float: right;
    margin-top: 20px;
    float: right;
    margin-right: -125px;
}

.white {
    color: $color-white;
}

.staff-pop-over {
    position: fixed;
    transform: translate(-25%, -18%);
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    .pop-over-form{
        width: 300px;
    }
    .staff-pop-over{
        position: fixed;
        transform: translate(15%, -5%);
        
    }
}